.Home {
    position: relative;
}

.Home header {
    width: 100vw;
    height: 50vh;
    background: url(../Img/lev2_2_js-reactjs_router_simple-blog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.Home .homeContent {
    height: 50vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
}

.Home .homeContent h1 {
    max-width: 10vw;
}

.Home .homeContent button {
    width: max-content;
}

@media only screen and (max-width: 945px) {
    .Home header {
        background: rgb(251, 213, 68);
        height: 10vh;
    }

    .Home .homeContent h1 {
        font-size: 20px;
        max-width: 30vw;
    }
}

@media only screen and (min-width: 946px) and (max-width: 1024px) {
    .Home header {
        background-color: rgb(251, 213, 68);
        height: 35vh;
    }
    .Home .homeContent h1 {
        max-width: 30vw;
    }
}