.Home {
    position: relative;
}

.Home header {
    width: 100vw;
    height: 50vh;
    background: url(../Img/lev2_2_js-reactjs_router_simple-blog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    /* transform: translateY(-0px); */
}

.Home .homeContent {
    height: 50vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
}

.Home .homeContent h1 {
    max-width: 10vw;
}

.Home .homeContent button {
    width: max-content;
}