.grid-item {
    background-color: #ffffff;
    width: 280px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px;
}

.grid-item .blogImg img {
    width: 280px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.grid-item .blogImg img:hover {
    opacity: 0.4;
    transform: scale(1.2) translate(2.5rem, -1rem);
}

.grid-item .blogDescription {
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .grid-item .blogDescription h2 {
        font-size: 16px;
    }

    .grid-item .blogImg img:hover {
        opacity: 0.4;
        transform: scale(1) translate(0, 0);
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .grid-item .blogDescription h2 {
        font-size: 20px;
    }

    .grid-item .blogImg img:hover {
        opacity: 0.4;
        transform: scale(1) translate(0, 0);
    }
}