.Navbar {
    position: absolute;
    z-index: 10;
}

.navigation {
    width: 95vw;
    color: #0D4625;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 1rem;
}

.Navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .navigation {
        justify-content: left;
        margin-left: 1rem;
    }
}